<%# <style>
  * { outline: 1px solid red; }
</style> %>


<div
  id="presence-hook"
  data-room-id="<%= @room.id %>"
  data-user-id="<%= @current_user.id %>"
  data-session-id="<%= @room_participant.session_id %>"
  data-presence-ping-url="<%= ping_room_presence_path(@room) %>"
  data-presence-leave-url="<%= leave_room_presence_path(@room) %>"
></div>

<div class="min-h-screen w-full max-w-[700px] mx-auto flex flex-col">
  <%= render "shared/header" %>

  <main class="flex-1 px-6 pb-10 pt-6 space-y-8">
    <div class="flex justify-start">
      <%= link_to rooms_path,
            data: { turbo_prefetch: false },
            class: "inline-flex items-center justify-center gap-2
                    w-[90px]
                    rounded-2xl border border-red-200
                    bg-red-50 text-red-700
                    px-4 py-3
                    font-bold
                    shadow-sm hover:shadow-md transition" do %>
        <span aria-hidden="true">⬅︎</span>
        <span>退出</span>
      <% end %>
    </div>

    <%= render "shared/flash_messages" %>

    <%# --- トピックバー --- %>
    <%= render "rooms/topic_editor", room: @room%>
    <%= turbo_stream_from @room %>

    <%# --- ユーザーアイコンエリア（最大4人） --- %>
    <section class="space-y-3">
      <h2 class="text-base sm:text-lg font-semibold text-slate-900">
        参加中のメンバー
      </h2>

      <%= render "rooms/participants", room: @room %>
    </section>

    <section class="mt-4">
      <div
        class="w-full max-w-sm mx-auto rounded-2xl bg-red-50
                px-4 py-4 sm:px-5 sm:py-5
                text-center text-red-600 space-y-2 text-sm sm:text-base"
      >
        <p class="font-semibold">
          個人情報に関する会話にご注意ください
        </p>

        <div class="space-y-1">
          <p class="leading-relaxed">
            運営側が個人情報をお聞きすることは
          </p>
          <p class="leading-relaxed font-semibold">
            絶対にありません
          </p>
        </div>
      </div>
    </section>
  </main>
</div>
