<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= content_for(:title) || "声友" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# PWAは今は未使用なので一旦外す %>
    <%# <link rel="manifest" href="/manifest.json"> %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body
  class="min-h-screen bg-white flex items-center justify-center"
  style="font-family: 'M PLUS Rounded 1c', system-ui, sans-serif;"
>
  <div class="w-full max-w-[425px] min-h-screen bg-[rgba(248,201,139,0.45)] flex items-center justify-center">
    <%= yield %>
  </div>
</body>

</html>
